@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hide{
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    /* display: none; */
    scrollbar-color: red black;
}

@media screen and (max-width:640px) {
    .avatarImg{
        margin-right: 2rem;
    }

    .header{
        margin: 0px;
        padding: 0.5rem;
    }  
    
    .loginBody{
        background-image: none;
        background-color: black;
        width: 100vw;
        height: auto !important;
    }

    .formContainer{
        margin-top: 0px;
        width: auto;
        height: 100vh;
    }

    .form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 2rem;
    }
}

.slider {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
  }
  
  .slider img {
    width: 100%;
    border-radius:10px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: rgb(255, 68, 68);
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(255, 68, 68) !important;
  }